<!-- ========================================
       1. NAVBAR
       ======================================== -->
    <header class="navbar" id="navbar">
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-W48VVTPC');</script>
<!-- End Google Tag Manager -->
        <a href="/" class="navbar__logo">Mr.Car</a>
        <nav class="navbar__nav">
            <div class="navbar__item has-dropdown">
                <a href="/teenused.html" class="navbar__link">[01] Teenused</a><div class="mega-menu">
                    <a href="/services/autoremont" class="mega-menu__item">
                        <iconify-icon icon="mdi:wrench" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Autoremont</span>
                    </a>
                    <a href="/services/summutid-keevitus" class="mega-menu__item">
                        <iconify-icon icon="mdi:fire" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Summuti ja Keevitustööd</span>
                    </a>
                    <a href="/services/veermik-pidurid" class="mega-menu__item">
                        <iconify-icon icon="mdi:car-brake-alert" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Veermiku ja Pidurite remont</span>
                    </a>
                    <a href="/services/rehvitood" class="mega-menu__item">
                        <iconify-icon icon="mdi:tire" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Rehvitööd</span>
                    </a>
                    <a href="/services/hooldus-diagnostika" class="mega-menu__item">
                        <iconify-icon icon="mdi:car-cog" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Hooldus ja Diagnostika</span>
                    </a>
                    <a href="/services/kaigukastiremont" class="mega-menu__item">
                        <iconify-icon icon="mdi:car-shift-pattern" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Käigukasti tööd</span>
                    </a>
                    <a href="/services/elektritood" class="mega-menu__item">
                        <iconify-icon icon="mdi:lightning-bolt" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Elektritööd</span>
                    </a>
                    <a href="/services/mootoriremont" class="mega-menu__item">
                        <iconify-icon icon="mdi:engine" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Mootori tööd</span>
                    </a>
                    <a href="/services/olivahetus" class="mega-menu__item">
                        <iconify-icon icon="mdi:oil" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Õli ja Filtrite vahetus</span>
                    </a>
                    <a href="/services/ostueelne-kontroll" class="mega-menu__item">
                        <iconify-icon icon="mdi:file-search-outline" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Enne Ostu Kontroll</span>
                    </a>
                    <a href="/services/kliimahooldus" class="mega-menu__item">
                        <iconify-icon icon="mdi:snowflake" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Kliima ja Konditsioneer</span>
                    </a>
                    <a href="/services/webasto-diagnostika" class="mega-menu__item">
                        <iconify-icon icon="mdi:radiator" width="20" height="20" aria-hidden="true"></iconify-icon>
                        <span>Webasto remont</span>
                    </a>
                </div>
            </div>

            <a href="#about" class="navbar__link">[02] Meist</a>
            <a href="/hinnad.html" class="navbar__link">[03] Hinnad</a>
            <a href="/kontakt" class="navbar__link">[04] Kontakt</a>
            <a href="/galerii.html" class="navbar__link">[05] Galerii</a>
            <a href="tel:+37256461210" class="navbar__phone">+372 5646 1210</a>
        </nav>
        <div class="navbar__cta">
            <a href="/kontakt" class="btn btn-primary">Jäta päring</a>
        </div>
        <button class="navbar__burger" id="burgerBtn" aria-label="Open menu">
            <span></span><span></span><span></span>
        </button>
        <div class="navbar__lang desktop-only">
            <a href="/" class="lang-link active" title="Eesti keel">
                <iconify-icon icon="circle-flags:ee" width="24" height="24"></iconify-icon>
            </a>
            <a href="/ru/" class="lang-link" title="Русский язык">
                <iconify-icon icon="circle-flags:ru" width="24" height="24"></iconify-icon>
            </a>
            <a href="/en/" class="lang-link" title="English">
                <iconify-icon icon="circle-flags:en" width="24" height="24"></iconify-icon>
            </a>
        </div>
    </header>